body{
    background-image: url("./images/istockphoto-904951248-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    
}
.formwrapper{
   margin-top: 100px;
   /* min-height: 70vh; */
   border: 1px solid #0e6d99;
}
.formwrapper input{
    color: #0e6d99;
}
h3{
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 40px;
}
.sub-btn{
    background-color: #04253e;
    color: #0e6d99;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px ;
}

.start{
    display: none;
}
.img2{
    margin-left: 20%;
}
.btn2{
    background-color: #5aa6eb;
    border-radius: 5px;
    height: 50px;
    margin-left: 20%;
    
    color: white;
    font-size: 2vw;
    border: none;
    font-weight: bold;
}

.quizbody{
    border: 1px solid #0e6d99;
    display: none;
}
.main-header{
    border: 1px solid #5aa6eb;
    justify-content: space-evenly;
}
.main-con p{
    color: white;
}
.main-footer{
    justify-content: space-between;
}
.btn3{
    height: 50px ;
    border: none;
}
.conter{
    color: white;
}

h1{
    color: white;
}


#para_name{
    color: white;
}

/* set question and options style */
#ques{
    color: white;
    font-size: 2.4vw;
    font-weight: bold;
}
#opt{
    color: white;
    font-size: 2vw;
    font-weight: bold;
}
#opt li{
    list-style: none;
    cursor: pointer;
    
}

.correctAns{
    border: 1px solid green;
    color: green;
}
.wrongAns{
    border: 1px solid red;
    color: red;
}
.result{
    display: none;
    color: white;
    height: 80vh;
    width: 50%;
    margin-top: 8%;
}
.disableli{
    pointer-events: none;
}

.picture{
    height: 50%;
}
.img-con{
    height: 100%;
    /* border: 1px solid red; */
    width:50%;
}
.img2{
    height: 100%;
    width: 80%;
}
.details{
    color: white;
    width: 40%;
    font-size: 1.8vw;
    padding: 4%;
}
